/* Page title on editor side */
.editor-post-title__block .editor-post-title__input {
    font-family: Arial, Sans-Serif !important;
    font-size: 4rem;
}

.wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper-container a > span,
.wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper-container a:hover > span,
.wp-block-tainacan-carousel-collections-list .tainacan-carousel .swiper-container a > span,
.wp-block-tainacan-carousel-collections-list .tainacan-carousel .swiper-container a:hover > span {
    font-size: 1.375rem;
    color: var(--paletteColor1, #F57832);
}

/* Facet block is used for rounded images without title */
.wp-block-tainacan-facets-list .facets-layout-grid .facet-list-item .facet-label-and-count {
    align-items: center !important;
}
.wp-block-tainacan-facets-list .facets-layout-grid .facet-list-item .facet-label-and-count span:not(.facet-item-count) {
    display: none;
}


/* Inner content of cover blocks should be 100% even with the positioning set to custom */
.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,
.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
    width: 100%;
}

/* Museu Paulista institution cards (also home page) */
.wp-block-columns.museupaulista-institution-cards .wp-block-cover__inner-container {
    width: 100% !important;
}
.wp-block-columns.museupaulista-institution-cards .wp-block-cover__inner-container .wp-block-columns {
    margin: 0;
    width: 100%;
}
.wp-block-columns.museupaulista-institution-cards .wp-block-cover__inner-container .wp-block-columns>.wp-block-column:not(:first-child) {
    margin-left: 0.75em;
}
.wp-block-columns.museupaulista-institution-cards .wp-block-cover__inner-container .wp-block-columns>.wp-block-column p {
    margin-bottom: 0;
}

/* Facets block inside a cover block should inherit text color */
.wp-block-cover .wp-block-tainacan-facets-list ul.facets-list.facets-layout-list li.facet-list-item a,
.wp-block-cover .wp-block-tainacan-facets-list ul.facets-list-edit.facets-layout-list li.facet-list-item a {
    color: inherit !important;
}

/* Title inside the blocks should not have margin */
.wp-block-cover h1,
.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4,
.wp-block-cover h5,
.wp-block-cover h6,
.wp-block-cover .wp-block-tainacan-facets-list,
.wp-block-cover .wp-block-tainacan-dynamic-items-list,
.wp-block-button {
    margin-bottom: 0;
    margin-top: 0;
}

/* Outline button should have white border */
div.is-style-outline > .wp-block-button__link {
    border-color: white;
}

/* WordPress core Search Bar with Museu Paulista style */
.wp-block-search.is-style-museupaulista-search-bar .wp-block-search__inside-wrapper {
    border-radius: 8px;
    padding: 0;
    border: none;
}
.wp-block-search.is-style-museupaulista-search-bar .wp-block-search__inside-wrapper .wp-block-search__input {
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--paletteColor3, #000000);
    padding: 0 0 0 2.25em;
    min-height: 48px;
    margin-right: -3px;
}
.wp-block-search.is-style-museupaulista-search-bar .wp-block-search__inside-wrapper .wp-block-search__button {
    margin-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background-color: var(--paletteColor1, #F57832);
    color: white;
    padding: .125em 5.9375em;
}

.is-style-museupaulista-text-shadow {
    text-shadow: -2px 2px 1px var(--paletteColor3, #111111); 
}

/* Museu Paulista institution Pattern */
.is-museupaulista-institution-cover {
    margin-bottom: -4rem !important;
}
.is-museupaulista-institution-logo {
    border: 2px solid white !important;
}
.is-museupaulista-institution-group h1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.is-museupaulista-institution-group h2 {
    margin-top: 0 !important;
}
.is-museupaulista-institution-group hr {
    height: 1px !important;
    background-color: #dddddd !important;
}

/* When displaying image as an item, the caption should be different */
.wp-block-image.is-style-museupaulista-item-image figcaption {
    text-align: left;
    --fontSize: 1rem;
}

/* Default outlined buttons should be really outline */
.is-style-outline:hover > .wp-block-button__link,
.wp-block-button__link.is-style-outline:hover {
    background-color: transparent !important;
}

/* Blocksy shortcode */
.ct-posts-shortcode {
    background-color: transparent !important;
}
[data-archive="default"][data-cards="cover"] .entry-card.instituicoes .entry-title {
    margin-bottom: 0px;
}

/* Text shadow on curadoria cards */
.entry-card.curadorias .entry-title {
    text-shadow: 0px 2px 1px var(--paletteColor5, #000000);
}

/* Separator Block Tweaks */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    --block-max-width: 398px !important;
}
.wp-block-separator:not(.is-style-dots) {
    height: 4px !important;
}

/* Columns block where a column expands its background outside of itself */
.is-style-museupaulista-background-to-left.wp-block-column {
    position: relative;
}
.is-style-museupaulista-background-to-left.wp-block-column::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: 99999;
    width: 200%;
    height: 100%;
    right: 0;
    left: -200%;
    top: 0;
    bottom: 0;
}

/* Tainacan term blocks rounded style */
.wp-block-tainacan-carousel-terms-list.is-style-museupaulista-rounded a {
    background-color: var(--paletteColor21, #e6e6e6);
    border-radius: 170px;
    padding: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wp-block-tainacan-carousel-terms-list.is-style-museupaulista-rounded a>img {
    max-width: 40px;
    margin-bottom: 26px;
}