#header [data-items] {
    position: relative;
}

#header [data-row*="top"] .ct-button {
    padding: .25em .75em;
    font-size: 12px;
    text-transform: none;
}
#header [data-row*="top"] .wp-block-a11y-buttons-a11y-button > a {
    text-decoration: none;
}
#header [data-row*="top"] .wp-block-a11y-buttons-a11y-button:hover,
#header [data-row*="top"] .wp-block-a11y-buttons-a11y-button:focus {
    border-radius: 2rem;
    background-color: #333;
}

[data-header*="type-1"] .ct-header [data-id="logo"].site-branding {
    --margin: 1.5rem 0px 6.25rem 0px !important;
}

.ct-header .ct-header-search.ct-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px !important;
    border-radius: 30px !important;
    border: 1px solid var(--paletteColor1, #F57832) !important;
}

.ct-header .ct-header-search.ct-toggle[aria-expanded="true"] {
    display: none;
}

.ct-header nav ul.menu {
    margin-bottom: -1.35rem;
    height: 72px;
    border-top: 6px solid  var(--paletteColor3, #000000);
    border-bottom: 1px solid var(--paletteColor1, #F57832);
}

.ct-header nav ul.menu .ct-menu-link {
    height: auto;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.ct-header nav ul.menu>li:not(:first-child) .ct-menu-link {
    border-left: 1px solid var(--paletteColor21, #e6e6e6);
}